##
### configuration for OAuth2 Manager class
##

# oauth2 properties
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
GRANT_TYPE=your_grant_type
REDIRECT_URI=your_redirect_uri

# server host 
# nb: all defined endpoint below are concatenated
#     to this base URL
BASE_URL=your-host-oauth-and-rest-server                # http:/localhost:<port>

# oauth2 endpoints
AUTHORIZATION_CODE_ENDPOINT='your-auth-code-endpoint'   # /my/auth/code/endpoint
ACCESS_TOKEN_ENDPOINT='your-access-token-endpoint'      # /my/token/endpoint

##
### configuration for REST Client class
##

WP_REST_ENDPOINT='your-wp-rest-endpoint'                # /my/rest/endpoint
