# MySQL Configuration
# @link configuration properties - https://hub.docker.com/_/mysql 

MYSQL_ROOT_PASSWORD=your-root-password
MYSQL_DATABASE=your-wp-db-name
MYSQL_USER=your-dbuser-for-container
MYSQL_PASSWORD=your-dbuser-pwd-for-container
