# Wordpress Configuration
# @link configuration properties - https://hub.docker.com/_/wordpress  

WORDPRESS_DB_NAME=your-wp-db-name
WORDPRESS_DB_HOST=your-db-container-name
WORDPRESS_DB_USER=root
WORDPRESS_DB_PASSWORD=your-root-password
WORDPRESS_TABLE_PREFIX=wp_
WORDPRESS_DEBUG=boolean-value
